# NOTE: any environment variables included here will be bundled in the app build.
#       Do not include secrets here.

# ===================
# App Settings
# ===================
APP_ENV=development
APP_DEBUG=true

# ===================
# Feature Flags
# ===================
ENABLE_ANALYTICS=false
ENABLE_CRASH_REPORTING=false
